=form_for @question, :class=>'form-horizontal' do |f|
  -if @question.errors.any?
    .error_explanation.alert.alert-danger
      %button{ :type => :button, :class => :close, 'data-dismiss'=> :alert, 'aria-hidden' => :true}
        &times;
      %h6
        =pluralize(@question.errors.count, 'error')
        prohibited this question from being saved:
      %ul
        -@question.errors.full_messages.each do |msg|
          %li
            =msg
  .form-group
    =f.label :subject , :class => 'col-sm-2 text-primary'
    .col-sm-10
      =f.text_field :subject, :placeholder => 'Enter Subject'
  .form-group
    =f.label :text, :class => 'col-sm-2 text-primary'
    .col-sm-10
      =f.text_area :text, :rows => 5, :placeholder => 'Enter Details'
  .field.form-group
    =f.label :tags, :class => 'col-sm-2 text-primary'
    .col-sm-10
      =f.text_field :tags_used , :placeholder => 'Enter tags separated by commas'
  .form-group
    .col-sm-offset-2.col-sm-10
      =f.submit :class =>'btn btn-primary'