%div
  -if 1 > @question.user_vote(session[:current_user])
    =button_tag "Upvote", :class => 'vote btn btn-success', :'data-vote' => 1, :'data-vid' => @question.id, :'data-type' => 'question'

  -else
    =button_tag "Upvote", :class => 'vote btn btn-success', :'data-vote' => 1, :'data-vid' => @question.id, :'data-type' => 'question', :disabled => 'disabled'
%a
  Vote:
  %span.badge
    =@question.total_votes
%div
  -if -1 < @question.user_vote(session[:current_user])
    =button_tag "Downvote", :class => 'vote btn btn-danger ', :'data-vote' => -1, :'data-vid' => @question.id, :'data-type' => 'question'
  -else
    =button_tag "Downvote", :class => 'vote btn btn-danger ', :'data-vote' => -1, :'data-vid' => @question.id, :'data-type' => 'question', :disabled => 'disabled'
