%p
  Comments
  %br/
  %textarea{rows: '2',cols: '40' ,name: 'comment', :id => "comment_for_#{@answer.id}"}
  %p
  =button_tag "Add Comments", :class => 'comment btn btn-info', :'data-a_id' => @answer.id

