%blockquote
  %h6
    %strong
      Comment:
      =simple_format(@answer.body)
    %footer
      %p
        Commented By:
        =@answer.user.username
      %p
        Commented on:
        =@answer.created_at