%p
  %textarea#answer{rows: '3',cols: '40' ,name: 'answer',:placeholder => 'Enter your Answer here.', :class=>'form-control'}
  %p
  =button_tag "Submit Answer", :class => 'answer btn btn-info', :'data-qid' => @question.id