%div
  %div
    -if 1 > @answer.user_vote(session[:current_user])
      =button_tag "Upvote", :class => 'vote btn btn-success', :'data-vote' => 1, :'data-vid' => @answer.id, :'data-type' => 'answer'
    -else
      =button_tag "Upvote", :class => 'vote btn btn-success', :'data-vote' => 1, :'data-vid' => @answer.id, :'data-type' => 'answer', :disabled => 'disabled'
  %a
    Vote:
    %span.badge
      =@answer.total_votes
  %div
    -if -1 < @answer.user_vote(session[:current_user])
      =button_tag "Downvote", :class => 'vote btn btn-danger', :'data-vote' => -1, :'data-vid' => @answer.id, :'data-type' => 'answer'
    -else
      =button_tag "Downvote", :class => 'vote btn btn-danger', :'data-vote' => -1, :'data-vid' => @answer.id, :'data-type' => 'answer', :disabled => 'disabled'